@charset "UTF-8";

main, article, section, footer, header{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

main{
    max-width: 800px;
}


main, article, footer, header, section, table{
    border: 1px solid gray;
    padding: 10px;
}

 

table{
    width: 100%;
    border-collapse: collapse;
}

 

td, th{
    border: 1px solid gray;
    text-align: center;
}

 

tr:nth-child(even){
    background: lightskyblue;
}

article form div{
    display: grid;
    grid-template-columns: 100px auto;
}

section form{
    padding: 10px;
    display: grid;
    grid-template-columns: 100px auto;
}

section form label{
    padding-right: 10px;
    text-align: right;
}

label{
    text-align: right;
    padding-right: 10px;
}

#ok{
    margin-left: 80px;
    margin-top: 10px;
}

h2{
    text-align: center;
}

